
*.DS_Store
*.Rhistory
old/*

measures/image stimuli/disgust sensitivity IRAP/IAPs images, not for distribution.zip
measures/image stimuli/sexuality IRAP/IAPs images, not for distribution.zip

data/trial level/raw/*
data/trial level/very raw/*
data/trial level/raw.zip
data/trial level/very raw.zip